body {
    margin: 0;
    padding: 0;
}

.collapse {
    margin-left: 5rem;
    margin-right: 3rem;
}

.tekno {
    background-color: rgba(255, 255, 255, 0.925);
    color: #e6e6e6;
    font-weight: bold;
    text-align: center;
    position: absolute;
    z-index: -1;


}

.tekno2 {

    color: #000000;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    z-index: 1;
    margin-left: 1rem;
}

.tekno3 {

    color: #000000;
    font-size: 1rem;
    font-weight: 300;

    z-index: 1;
    margin-left: 1rem;
}

.technology-top {
    padding-top: 10rem;
}

.technology-svg {
    padding-top: 5rem;
}


.projects {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

.project {
    background-color: rgba(255, 255, 255, 0.925);
    color: #e6e6e6;
    font-weight: bold;
    text-align: center;


}

.absolute-positioned {
    position: absolute;
    z-index: -1;
}

.project2 {

    color: #000000;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    z-index: 1;
    margin-left: 1rem;
}

.project3 {

    color: #000000;
    font-size: 1rem;
    font-weight: 300;

    z-index: 1;
    margin-left: 1rem;
}




/* copy */


.box {
    margin-bottom: 2rem;
}

.browser {
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: 8px;
    background-color: rgb(131, 131, 131);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.browser::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    display: block;
    z-index: 1;
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(17, 0, 255, 0.388) 100%);
    transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    cursor: pointer;
    opacity: 0;
}

.browser:hover::after {
    opacity: 1;
}

.browser .content {
    height: 250px;
    width: 345px;
    background-size: cover;
    transition: 8s all;
}

.browser:hover .content {
    background-position: bottom;
}


.project__details p a {


    font-size: 14px;
    display: block;
    color: #191b1d;
}

.project__details span {

    font-size: 14px;
    color: rgba(25, 27, 29, 0.7019607843);
}

.project:hover .project__details span {
    color: rgba(25, 27, 29, 0.6);
    transition: 500ms all;
}

.project:hover .project__details span {
    color: blue;
    transition: 500ms all;
}

.project:hover {
    color: red;
    /* transition: 500ms all; */
}

/* copy */



.about-us {
    background-color: rgba(255, 255, 255, 0.925);
    color: #e6e6e6;
    font-weight: bold;
    text-align: center;
    position: absolute;
    z-index: -1;
    font-size: 10rem;


}


.about-us2 {

    color: #000000;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    z-index: 1;
    margin-left: 1rem;
}

.about-us3 {

    color: #000000;
    font-size: 1rem;
    font-weight: 300;

    z-index: 1;
    margin-left: 1rem;
}

.png{
width: 200px;
height:280px ;
}




@media only screen and (min-width: 60em) {
    .tekno {
        font-size: 8rem;
    }

    .project {
        font-size: 8rem;
    }

    .metin {
        display: none;

    }

    .kimiz {
        max-width: 80rem;
    }

    .about-us {
        font-size: 8rem;
    }

}

@media only screen and (max-width: 60em) {


    .tekno {
        /* display: none; */

        font-size: 3rem;

    }


    .tekno2 {
        font-size: 2rem;
    }

    .project {
        /* display: none; */

        font-size: 3rem;
    }

    .project2 {
        font-size: 2rem;
    }


    .par {

        display: none;
    }


    .technology {
        margin-left: 5rem;
    }

    .project {
        margin-left: 5rem;
    }

    .main {
        display: none;
    }

    .metin {
        display: inline;

    }

    .about-us {
        font-size: 4rem;
    }
}