body {
    margin: 0;
    padding: 0;
}

hr {
    border-width: 3px;
    border-color: black;
    border-top: 3px solid #000000;
}

.collapse {
    margin-left: 5rem;
    margin-right: 3rem;
}



.tekno {
    background-color: rgba(255, 255, 255, 0.925);
    color: #e6e6e6;
    font-weight: bold;
    text-align: center;
    position: absolute;
    z-index: -1;


}

.tekno2 {

    color: #000000;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    z-index: 1;
    margin-left: 1rem;
}

.tekno3 {

    color: #000000;
    font-size: 1rem;
    font-weight: 300;

    z-index: 1;
    margin-left: 1rem;
}

.technology-top {
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.technology-svg {
    padding-top: 5rem;
}


@media only screen and (max-width: 37.5em) {
    .technology-svg .technology__box {
        height: 5rem;
        justify-content: center;
        display: flex;
    }
}

.technology-svg .technology__box:hover {
    transition: 1200ms all;
}

.technology-svg .technology__box:hover img {
    filter: hue-rotate(240deg);
    transition: 900ms all;
    transform: scale(1.3);
}

.technology-svg .technology__box img {
    filter: hue-rotate(0deg);
    transition: 900ms all;
    cursor: pointer;
    margin: 0;
    -o-object-fit: contain;
    object-fit: contain;
}


@media only screen and (max-width: 37.5em) {
    .technology-svg {
        display: none;
    }
}

.technology-svg  {
    display: flex;
}

@media only screen and (max-width: 37.5em) {
    .technology-svg {
        display: block;
    }

   
}




.projects {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.project {
    background-color: rgba(255, 255, 255, 0.925);
    color: #e6e6e6;
    font-weight: bold;
    text-align: center;


}

.absolute-positioned {
    position: absolute;
    z-index: -1;
}

.project2 {

    color: #000000;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    z-index: 1;
    margin-left: 1rem;
}

.project3 {

    color: #000000;
    font-size: 1rem;
    font-weight: 300;

    z-index: 1;
    margin-left: 1rem;
}




/* copy */


.box {
    margin-bottom: 2rem;
}

.browser {
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: 8px;
    background-color: rgba(189, 189, 189, 0.889);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.browser::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    display: block;
    z-index: 1;
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(17, 0, 255, 0.388) 100%);
    transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    cursor: pointer;
    opacity: 0;
}

.browser:hover::after {
    opacity: 1;
}

.browser .content {
    height: 250px;
    width: 345px;
    background-size: cover;
    transition: 8s all;
}

.browser:hover .content {
    background-position: bottom;
}

.project__details {
    background-color: #e8e8e895;
}

.project__details p a {

    font-size: 14px;
    display: block;
    color: #191b1d;

}

.project__details span {

    font-size: 14px;
    color: rgba(25, 27, 29, 0.7019607843);
}

.project:hover .project__details span {
    color: rgba(25, 27, 29, 0.6);
    transition: 500ms all;
}

.project:hover .project__details span {
    color: blue;
    transition: 500ms all;
}

.project:hover {
    color: red;
    /* transition: 500ms all; */
}

/* copy */



.about-us {
    background-color: rgba(255, 255, 255, 0.925);
    color: #e6e6e6;
    font-weight: bold;
    text-align: center;
    position: absolute;
    z-index: -1;
    font-size: 10rem;


}


.about-us2 {

    color: #000000;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    z-index: 1;
    margin-left: 1rem;
}

.about-us3 {

    color: #000000;
    font-size: 1rem;
    font-weight: 300;

    z-index: 1;
    margin-left: 1rem;
}

.png {
    width: 200px;
    height: 280px;
}


.contact {
    background-color: rgba(255, 255, 255, 0.925);
    color: #e6e6e6;
    font-weight: bold;
    text-align: center;
    position: absolute;
    z-index: -1;
    font-size: 8rem;


}


.contact2 {

    color: #000000;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;

    z-index: 1;
    margin-left: 1rem;
    margin-top: 1rem;

}

.contact3 {

    color: #000000;
    font-size: 1rem;
    font-weight: 300;
    padding-top: 15rem;
    z-index: 1;
    margin-left: 1rem;
}

.contact__us {
    margin-top: 4rem;
    text-align: center;
}

/* contact from */
.contact-form {
    border: 1px solid #cecbcbb8;
    padding: 40px;
    margin-left: 15px;
    -webkit-box-shadow: 0 0 20px rgba(158, 158, 158, 0.16);
    box-shadow: 0 0 20px rgba(158, 158, 158, 0.16);
    background-color: #e8e8e895;
}

.contact-form form .form-group {
    margin-bottom: 15px;
}

.contact-form form .form-group .form-control {
    height: 55px;
    border-radius: 0;
}

.contact-form form .form-group textarea.form-control {
    height: auto;
}

.contact-form form .help-block ul {
    margin-bottom: 0;
    margin-top: 12px;
}

.contact-form form .help-block ul li {
    color: red;
}

.contact-form form .default-btn {
    margin-top: 5px;
}

.contact-form form #msgSubmit {
    margin: 0 !important;
}

.contact-form form #msgSubmit.text-danger,
.contact-form form #msgSubmit.text-success {
    margin-top: 15px !important;
}

/*contact from  */



/*form-control*/
.form-control {
    height: 50px;
    color: #221638;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    border: 1px solid #cecbcb;
    background-color: #dee5e8;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 3px;
    padding: 1px 0 0 15px;
    font-size: 16px;
    font-weight: 600;
}

.form-control::-webkit-input-placeholder {
    color: #7e7e7e;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.form-control:-ms-input-placeholder {
    color: #7e7e7e;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.form-control::-ms-input-placeholder {
    color: #7e7e7e;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.form-control::placeholder {
    color: #7e7e7e;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.form-control:focus {
    border-color: #ff5d22;
    background-color: transparent;
}

.form-control:focus::-webkit-input-placeholder {
    color: transparent;
}

.form-control:focus:-ms-input-placeholder {
    color: transparent;
}

.form-control:focus::-ms-input-placeholder {
    color: transparent;
}

.form-control:focus::placeholder {
    color: transparent;
}

textarea.form-control {
    height: auto;
    padding-top: 15px;
}




/* buton */


.default-btn {
    border: none;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: #ffffff;
    background-color: #ff5d22;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 10px;
    padding: 12px 50px 12px 50px;
    font-weight: 700;
    font-size: 16px;
}








@media only screen and (min-width: 50em) {
    .tekno {
        font-size: 8rem;
    }

    .project {
        font-size: 8rem;
    }

    .metin {
        display: none;

    }

    .kimiz {
        max-width: 80rem;
    }

    .about-us {
        font-size: 8rem;
    }

    .contact {
        font-size: 6rem;
    }


    .animation__item1 {
        margin: 1rem;
    }

}

@media only screen and (max-width: 60em) {


    .tekno {
        /* display: none; */

        font-size: 3rem;

    }


    .tekno2 {
        font-size: 2rem;
    }

    .project {
        /* display: none; */

        font-size: 3rem;
    }

    .project2 {
        font-size: 2rem;
    }


    .par {

        display: none;
    }


    .technology {
        margin-left: 5rem;
    }

    .project {
        margin-left: 2rem;
    }

    .main {
        display: none;
    }

    .metin {
        display: inline;

    }

    .about-us {
        font-size: 4rem;
    }

    .contact {
        font-size: 4rem;
    }

    .us-p {
        display: none;
    }

    .animation__item1 {
        margin: 0rem;
    }
    .browser .content {
        height: 210px;
        width: 305px;
        background-size: cover;
        transition: 8s all;
      
    }
}